<h1>All recipes go here</h1>

<%= link_to "Create new recipe", new_recipe_path %> <br>

<tr>
	<th>Title</th>
	<th>Description</th>
</tr>

<% @recipes.each do |recipe| %>
<tr>
	<td><%= link_to recipe.title, recipe_path(recipe.id) %></td>
	<td><%= recipe.description %></td>
</tr>
<% end %>
<!-- => ["id", "user_id", "title", "description", "ingredients", "steps", "photos", "created_at", "updated_at"]
 -->