<div class="mt-4">
	<h1 class="mb-0"><center>Find your recipe - Cook with &hearts;</h1><br></center>
	<% if logged_in? %>
		<center><%= link_to "Create new recipe", new_recipe_path, class:"mt-0 pt-0" %></center>
	<% end %>
</div>

<div class="container mt-4">
	<% @recipes.each do |recipe| %>
	<div class="alert alert-secondary" role="alert">
	  <h4 class="alert-heading"><%= link_to recipe.title, recipe_path(recipe.id), class: "alert-link" %></h4>
	  <p><%= recipe.description %></p>
	  <hr>
	  <p class="mb-0">By <%= recipe.user.first_name + " " + recipe.user.last_name %></p>
	</div>
	<% end %>
</div>