<h1>New Recipe</h1>

<div>
	<%= form_for @recipe do |form| %>
		<% if @recipe.errors.any? %>
			<h5>Form is invalid</h5>
			<ul>
				<% @recipe.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>

		<%= render partial: '/recipes/form', object: form %>
	
		<div class="actions">
			<%= form.submit %>
		</div>
	<% end %>
</div>