<div class="container mt-4 mb-4">
<h3>New Recipe</h3>

<div>
	<%= form_for @recipe do |form| %>
		<% if @recipe.errors.any? %>
			<h5>Form is invalid</h5>
			<ul>
				<% @recipe.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>

		<%= render partial: '/recipes/form', object: form %>
		<br>
		<div class="actions">
			<%= form.submit "Submit", class:"btn btn-outline-dark" %>
		</div>
	<% end %>
</div>
</div>